@tailwind base;
@tailwind components;
@tailwind utilities;


.long-form-content h1 {
  font-family: Staatliches;
  font-size: 2em;
  line-height: 1.4em;
  margin-top: 1em;
}

.long-form-content h2 {
  font-family: Staatliches;
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 0.7rem;
}

.long-form-content ul {
  list-style: disc;
  list-style-position: inside;
  padding-left: 0;
}

.long-form-content ol {
  list-style: decimal;
  list-style-position: inside;
  padding-left: 0;
}

.long-form-content li {
  margin: 0.5rem 0;
  padding-left: 20px;
  text-indent: -20px;
}

.long-form-content li p {
  display: inline;
}

.long-form-content a {
  text-decoration: underline;
}

.long-form-content code {
  background-color: var(--neutral-800);
  line-height: 1.5em;
  box-decoration-break: clone;
  padding: 1px 0.2em;
}

.long-form-content blockquote {
  border-left: 0.25rem solid var(--neutral-600);
  padding: 1rem 0 1rem 1rem;
}

